name: Run Tests

on:
  push:
    branches:
      - branchAutoTest

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Build and run tests
        run: |
          autoreconf --install
          ./configure
          make check # ÐÐ—ÐStart test
